@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf");
}
.header {
  font-family: "Poppins", sans-serif;
  background: #fefefe;
}
.header__logo {
  text-align: center;
}
.header__img {
  max-width: 200px;
}
.header .menu__list {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eaeaeaeb;
  border-bottom: 1px solid #eaeaeaeb;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px 0;
}
.header .menu__links {
  position: relative;
}
.header .menu__link {
  margin: 0 25px;
  color: #464646;
  text-decoration: none;
}
.header .menu__link:hover {
  color: #9400d3;
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #817f7f;
}
.footer__content {
  border-top: 1px solid #817f7f;
  text-align: center;
  margin-top: 10px;
}
.footer__link {
  padding: 0 10px;
}
.footer__img {
  max-width: 25px;
  margin-top: 10px;
}
.footer__copyright {
  text-align: center;
  margin: 20px 0;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#fefefe, #eaeaeaeb, #817f7f);
}
.main__content {
  justify-content: center;
  width: 100%;
  padding: 40px 8px;
}
.main__post {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px 30px;
}
.main__title {
  font-size: 22px;
  letter-spacing: 1.5;
  margin: 0 0 1em;
}
.main__title:hover {
  text-decoration: underline;
  color: #9400d3;
  cursor: pointer;
}
.main__text {
  font-size: 16px;
  padding: 5px 5px;
  padding: 12px 0;
  text-align: justify;
  letter-spacing: 0.5px;
}
.main__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.main__date {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: italic;
}
.main__date:hover {
  text-decoration: underline;
}

/*=================CONTEUDO INGLÊS ======*/
.ingles {
  width: 80%;
  margin: 0 auto 4px;
  margin-bottom: 3rem;
}
.ingles__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ingles__cximg2 {
  display: contents;
}
.ingles__img {
  width: 45%;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 12px 12px 12px 0 #464646;
}
.ingles__img:hover {
  background-color: #464646;
  opacity: 0.3;
  cursor: pointer;
}
.ingles__title {
  text-align: center;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.ingles__txt {
  width: calc(100% - 45%);
  align-items: center;
  margin: 0 16px;
  letter-spacing: 0.5px;
}
.ingles__p {
  font-size: 16px;
  padding: 0px 15px;
  color: #464646;
  text-align: justify;
}

.section__container {
  margin: 0;
}
.section__container .tech {
  width: 80%;
  margin: 0 auto 4px;
}
.section__container .tech__conteudo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section__container .tech__imagem {
  display: contents;
}
.section__container .tech__imge {
  width: 45%;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 12px 12px 12px 0 #464646;
}
.section__container .tech__imge:hover {
  background-color: #464646;
  opacity: 0.3;
  cursor: pointer;
}
.section__container .tech__subtitle {
  text-align: center;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.section__container .tech__txtt {
  width: calc(100% - 45%);
  align-items: center;
  margin: 0 16px;
  letter-spacing: 0.5px;
}
.section__container .tech__pa {
  font-size: 16px;
  padding: 0px 15px;
  color: #464646;
  text-align: justify;
}

.cto {
  width: 80%;
  margin: 0 auto 4px;
  margin-bottom: 3rem;
}
.cto__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cto__cximg2 {
  display: contents;
}
.cto__img {
  width: 45%;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 12px 12px 12px 0 #464646;
}
.cto__img:hover {
  background-color: #464646;
  opacity: 0.3;
  cursor: pointer;
}
.cto__title {
  text-align: center;
  letter-spacing: 1px;
  padding: 5px 0 10px 0;
  margin-top: 3rem;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.cto__title:hover {
  color: #fefefe;
  font-size: 18px;
}
.cto__txt {
  width: calc(100% - 45%);
  align-items: center;
  margin: 0 16px;
  letter-spacing: 0.5px;
}
.cto__p {
  font-size: 16px;
  padding: 0px 15px;
  color: #464646;
  text-align: justify;
}
.cto__p:hover {
  color: #fefefe;
  font-size: 17px;
  transition: 0.6s;
  opacity: 0.3s;
}

@media only screen and (max-width: 992px) {
  .header .menu__link {
    margin: 0 17px;
  }

  .article__ingles .ingles__content, .article__ingles .tech__conteudo, .article__ingles .cto__content, .article__tech .ingles__content, .article__tech .tech__conteudo, .article__tech .cto__content, .article__cto .ingles__content, .article__cto .tech__conteudo, .article__cto .cto__content {
    flex-direction: column;
  }
  .article__ingles .cto__img, .article__ingles .tech__imge, .article__ingles .ingles__img, .article__tech .cto__img, .article__tech .tech__imge, .article__tech .ingles__img, .article__cto .cto__img, .article__cto .tech__imge, .article__cto .ingles__img {
    width: 100%;
    height: auto;
    margin: 24px 0;
  }
  .article__ingles .ingles__txt, .article__ingles .tech__txtt, .article__ingles .cto__txt, .article__tech .ingles__txt, .article__tech .tech__txtt, .article__tech .cto__txt, .article__cto .ingles__txt, .article__cto .tech__txtt, .article__cto .cto__txt {
    width: 100%;
  }
  .article__ingles .ingles__p, .article__ingles .tech__txtt, .article__ingles .cto__p, .article__tech .ingles__p, .article__tech .tech__txtt, .article__tech .cto__p, .article__cto .ingles__p, .article__cto .tech__txtt, .article__cto .cto__p {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
