.footer {
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #817f7f;
}
.footer__content {
  border-top: 1px solid #817f7f;
  text-align: center;
  margin-top: 10px;
}
.footer__link {
  padding: 0 10px;
}
.footer__img {
  max-width: 25px;
  margin-top: 10px;
}
.footer__copyright {
  text-align: center;
  margin: 20px 0;
}