/* ================ CONFIG PADRAO ========== */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins&display=swap');
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Regular.ttf');
}
@font-face { 
  font-family: 'FonteLogo';
  src: url('./font/BubblegumSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , serif;
}


main {
  margin: auto;
}


/* ==== HEADER ======== */
.header {
  width: 79.8rem;
}

header {
  padding: 20px 20%;
  background-color: #FF773D;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
}



div.logo img {
  width: 30%;

}


.titulo {
  text-align: center; 
  font-size: 17pt
}

p {
  text-indent: 7%;
  text-align: justify;
  padding: 0.3rem;
}


/* BOX CAPTURA*/


#esconder {
  text-align: center;
  /* margin: 0 10em; */
  margin: 0 auto;
}

#conteudo_trajetoria {
  padding: 10px 20px 10px 10px;
  }

/* =====================PAI DAS DIV'S========= */
  #conteudo_artigos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    place-items: center;
    background-color: #F0F1ED;
    
  }
  
  #conteudo_artigos div {
    
  }
/* ================ AS 3 DIV'S INGLES/TECNOLOGIA/
EMPRESARIO=========== */
/* ========= MEXER AQUI */
.conteudo__ingles {
  position: relative;
  bottom: 5%;
  padding: 4px;
}

.conteudo_tecnologia {
  position: relative;
  top: 5%;
}
.conteudo__empresario {
  position: relative;
  bottom: 20%;
  padding: 4px;
}


/* ================ AS 3 DIV'S INGLES/TECNOLOGIA/EMPRESARIO=========== */


  
figure img {
  width: 100%;
}

img.figure  {
place-items: center;
}
/* 
.conteudo__empresario{
  padding: 3rem;
} */


/* ======================== LOGO DAS REDES SOCIAIS ===== */
.logo__facebook {
  margin-top: 5px;
  width: 25px;
  margin-right: 1px;
}

.logo__instagram a {
margin: 25px;
}


.logo__instagram img {
  width: 25px;
  margin-left: 10px;
}

.linkedin img {
width: 25px;
}

.repositorio__github img {
  width: 25px;
}
/* ======================== LOGO DAS REDES SOCIAIS ===== */



/* FOOTER  RODAPÉ */

footer {
  height: 10%;
  background-color: #D3D2C7;
}

footer p {
  text-align: center;
}

/* =========== MEDIA QUERY (DEIXANDO RESPONSIVO)======== */

@media screen and (max-width: 480px){
  #conteudo_artigos {
   display: block;
}
}

 


