/* ================ CONFIG PADRAO ========== */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins&display=swap');
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Regular.ttf');
}
@font-face { 
  font-family: 'FonteLogo';
  src: url('./font/BubblegumSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , serif;
}


main {
  margin: auto;
}


/* ==== HEADER ======== */
.header .container {
  padding: 20px 20%;
  background-color: #FF773D;
  margin: 0 auto;
  
}

.titulo {
  text-align: center; 
  font-size: 21px
}

p {
  text-indent: 20px;
  text-align: justify;
  padding-bottom: 13px;
}


#conteudo_trajetoria {
  padding: 10px 20px 10px 10px;
  position: relative;
  }

/* =====================PAI DAS DIV'S========= */
  #conteudo_artigos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    background-color: #F0F1ED;
  }

  #conteudo_artigos {
    min-height: 980px;
    width: 100%;
    font-size: 20px;
    padding: 0 12px;

  }
/* ================ AS 3 DIV'S INGLES/TECNOLOGIA/
EMPRESARIO=========== */
/* ========= MEXER AQUI */
.conteudo__ingles {
  /* position: relative; */
  padding: 4px;
  font-size: 15pt;
}

.conteudo_tecnologia {
  /* position: relative; */
 top: 1rem;
}
.conteudo__empresario {
  /* position: relative; */
   padding: 4px;
}


/* ================ AS 3 DIV'S INGLES/TECNOLOGIA/EMPRESARIO=========== */


  
figure img {
  width: 100%;
}

img.figure  {
place-items: center;
}
/* 
.conteudo__empresario{
  padding: 3rem;
} */

/* FOOTER  RODAPÉ */

footer {
   position: absolute;
    background-color: #D3D2C7;
    width: 100%;
}

footer a  {
  text-align: center;
}

footer p {
  text-align: center;
}

/* ======================== LOGO DAS REDES SOCIAIS ===== */
.icons {
  margin: 0 auto;
 text-align: center;
  margin: 15px 0;
}

.logo__facebook {
  width: 25px;
  position: relative;
  left: 7px;
}

.logo__instagram a {
  display: block;
margin: 25px;
margin: 0 auto;
}

.logo__instagram img {
  width: 25px;
  margin-left: 10px;
  text-align: center;
}

.linkedin img {
width: 25px;
}

.repositorio__github img {
  width: 25px; 
}
/* ======================== LOGO DAS REDES SOCIAIS ===== */


/* =========== MEDIA QUERY (DEIXANDO RESPONSIVO)======== */
@media screen and (max-width: 1024px ) {
  #conteudo_artigos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 720px ){

 /* .header {
   width: 100%;
 } */
 .header .container .logo {
   /* width: 50%; */
 }
 .conteudo__esconder .conteudo__item {
   margin: 12px 27px;
 }
 .titulo {
   margin: 0 27px;
 }

 #conteudo_artigos {
    grid-template-columns: repeat(1, 1fr);
  }
} 


.closed .content {
  display: none;
}

